{% extends 'base.html.twig' %}

{% block body %}
    <table class="table">
        <thead>
            <tr>
                <th>Название</th>
                <th>Требуемый уровень</th>
                <th>Эффект в оружии</th>
                <th>Эффект в броне</th>
                <th>Рецепт для Хорадр. куба</th>
            </tr>
        </thead>
        {% for rune in runes %}
            <tr>
                <td>{{ rune.name }}</td>
                <td>{{ rune.reqLevel }}</td>
                <td>{{ rune.weapon }}</td>
                <td>{{ rune.armor }}</td>
                <td>{{ rune.recipe }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
