{% extends 'base.html.twig' %}

{% block title %}Hero index{% endblock %}

{% block body %}
    <h1>Hero index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Level</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for hero in heroes %}
            <tr>
                <td>{{ hero.id }}</td>
                <td>{{ hero.name }}</td>
                <td>{{ hero.level }}</td>
                <td>
                    <a href="{{ path('hero_show', {'id': hero.id}) }}">show</a>
                    <a href="{{ path('hero_edit', {'id': hero.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('hero_new') }}">Create new</a>
{% endblock %}
