{% extends 'base.html.twig' %}

{% block title %}Hero{% endblock %}

{% block body %}
    <h1>Hero</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ hero.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ hero.name }}</td>
            </tr>
            <tr>
                <th>Level</th>
                <td>{{ hero.level }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('hero_index') }}">back to list</a>

    <a href="{{ path('hero_edit', {'id': hero.id}) }}">edit</a>

    {{ include('hero/_delete_form.html.twig') }}
{% endblock %}
