<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{ title ?? '' }}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/global.css') }}"/>
            <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}"/>
        {% endblock %}
    </head>
    <body class="container">
        <nav class="navbar navbar-light navbar-expand-lg bg-light">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="{{ path('main') }}">Главная страница</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ path('runes') }}">Руны</a></li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ path(app.user ? 'app_logout' : 'app_login') }}">
                        {{ app.user ? 'Разлогиниться (' ~ app.user.username ~ ')' : 'Залогиниться' }}
                    </a>
                </li>
            </ul>
        </nav>

        <h1>{{ title ?? '' }}</h1>

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
